.barcode {
    display: block;
    flex: none;
    overflow: hidden;
    clear: both;
    width: 322px;
    height: 131px;
    background: url(../../images/badge.png);
    background-repeat: no-repeat;
}